# vscode
.vscode

# bitbake build folder
build

# poky sdk folder
sdk

#logs
log_*
bias*
weights*

#image
*.png
*.jpg
*.jpeg

#dataset
mnist*
hdrnn/python-tf/color-0.1.1.tar.gz
hdrnn/python-tf/tensorflow-2.4.0-cp37-none-linux_armv7l.whl
oprofile-0.9.9.tar.gz
