[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky/
[submodule "meta-ti"]
	path = meta-ti
	url = https://git.yoctoproject.org/meta-ti
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "hdrnn/cpp-eigen/submodules/eigen"]
	path = hdrnn/cpp-eigen/submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "hdrnn/cpp-eigen/submodules/gflags"]
	path = hdrnn/cpp-eigen/submodules/gflags
	url = https://github.com/gflags/gflags.git
[submodule "hdrnn/cpp-eigen/submodules/pcg-cpp"]
	path = hdrnn/cpp-eigen/submodules/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "hdrnn/c-cmsis-nn/submodules/CMSIS-NN"]
	path = hdrnn/c-cmsis-nn/submodules/CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git
